/* MENU LEFT */
body .contenedor .menu_left .cont_menu_left .btn_toogle {
  top: 40px;
}
body .contenedor .menu_left .cont_menu_left .menu_info {
  padding: 40px 20px 0px 20px;
}
body .contenedor .menu_left .cont_menu_left .menu_info ul {
  padding-top: 50px;
}
body .contenedor .menu_left .cont_menu_left .menu_info ul li {
  padding: 5px 0px;
}

/* PAGINA */
body .contenedor .pagina .cont_pagina .header {
  height: 130px;
}
body .contenedor .pagina .cont_pagina .header .header_logo {
  /*height: 70px;*/
}
body .contenedor .pagina .cont_pagina .header .menu_right .shop {
  font-size: 36px;
}
body .contenedor .pagina .cont_pagina .header .menu_right .cantcart {
  font-size: 14px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido {
  width: 94%;
  max-width: 500px;
  padding-top: 130px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales {
  height: 100px;
  margin-top: 5px;
  background-size: cover;
}
/* MODALS */
body .contenedor .modals {
  background: rgba(0, 0, 0, 0.75);
}
body .contenedor .modals .cont_modals .modal_dim1 {
  
}
body .contenedor .modals .cont_modals .modal_dim2 {
  width: 94%;
  height: 94%;
  max-width: 400px;
  max-height: 180px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .titulo {
  height: 80px;
  text-align: center;
}
body .contenedor .modals .cont_modals .modal .cont_modal .close {
  width: 34px;
  height: 34px;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info .info_modal {
  padding-top: 80px;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final{
  padding: 5%;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_contacto{
  
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_contacto h1{
  padding-bottom: 2px;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_contacto .d_input{
  padding-bottom: 6px;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_contacto .d_input input{
  width: 100%;
  height: 30px;
  border: 0px;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_enviar{
  padding-top: 3px;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_enviar input{
  padding: 4px 17px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total {
  bottom: 51px;
  left: 0px;
  width: 100%;
  text-align: right;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total .cont_subtotal .total_detalle {
  right: 6px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .acciones {
  text-align: center;
  height: 38px;
  bottom: 0px;
  left: 0px;
  padding-top: 13px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .acciones .confirmar {
  padding: 5px 15px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos {
  margin: 10px;
  background: #eee;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto {
  position: relative;
  padding: 10px;
  background: #ddd;
  margin-bottom: 5px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .nombre {
  padding-right: 80px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .descripcion {
  padding-right: 80px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .precio {
  position: absolute;
  right: 10px;
  width: 70px;
  text-align: right;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 {
  display: block;
  background: #ddd;
  margin-bottom: 5px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 .cont_pro {
  position: relative;
  min-height: 90px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 .cont_pro .nombre {
  position: absolute;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 .cont_pro .descripcion {
  position: absolute;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 .cont_pro .precio {
  position: absolute;
  right: 10px;
  width: 70px;
  text-align: right;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 .cont_pro .pro_foto {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background: #000;
  padding: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 .cont_pro .pro_foto .foto{
  width: 100%;
  height: 100%;
  background: #000;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias {
  padding: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .producto {
  margin-bottom: 6px;
  padding: 6px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .producto .nombre {

}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .producto .descripcion {

}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria {
  margin-bottom: 6px;
  background-size: cover;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo {

}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo .nombre {
  padding-top: 20px;
  padding-left: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo .descripcion {
  padding-left: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo .precio {
  padding-left: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen {
  margin-bottom: 6px;
  position: relative;
  background-size: cover;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo {
  padding: 20px 10px 10px 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .nombre {

}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .descripcion {

}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .precio {
  position: absolute;
  top: 4px;
  right: 4px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado {
  padding: 20px 0px 0px 0px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item {
  display: block;
  position: relative;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_nom {
  display: block;
  width: calc(100% - 75px);
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_nom .prod_i_ttl {
  display: block;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_nom .prod_i_sttl {
  display: block;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_pre {
  position: absolute;
  right: 0px;
  width: 75px;
  text-align: right;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion {
  margin-bottom: 6px;
  background-size: cover;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo {
  position: relative;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .nombre {
  padding-top: 20px;
  padding-left: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .descripcion {
  padding-left: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .precio {
  position: absolute;
  top: 20px;
  right: 10px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .listado {
  padding: 10px 0px;
}
.modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .listado .prod_item {
  padding-left: 10px;
}

.modal_productos_promo .cont_modal .cont_info .info_modal {
  padding-bottom: 52px;
}
.modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo {
  padding: 10px;
}
.modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item {
  margin-top: 2px;
  padding: 8px 4px;
  position: relative;
}
.modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item .pro_cat_item_select {
  width: 50px;
  left: 10px;
}
.modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item .pro_cat_item_select .select_promo {
  width: 100%;
  height: 35px;
}
.modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item .pro_cat_item_nombre {
  padding-left: 70px;
}
.modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item .pro_cat_item_descripcion {
  padding-left: 60px;
}
.modal_pregunta_productos .cont_modal .titulo .cont_titulo h1 {
  padding: 0px 30px;
}
.modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta {
  padding: 10px;
}
.modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta {
  padding-bottom: 16px;
}
.modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .pregunta_titulo {
  padding-bottom: 6px;
}
.modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .v_pregunta {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .v_pregunta .n_pregunta {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .titulo_v_pregunta {
  padding-bottom: 6px;
}
.modal_error .cont_modal .cont_info .cont_err{
  width: 100%;
  height: 100%;
  position: relative;
}
.modal_error .cont_modal .cont_info .cont_err .cont_ab_err{
  left: 0px;
  width: 100%;
}
.modal_error .cont_modal .cont_info .cont_err .cont_ab_err .titulo_error{
  display: block;
  padding: 0px 15px 15px 15px;
  text-align: center;
}
.modal_error .cont_modal .cont_info .cont_err .cont_ab_err .btns_err{
  display: block;
  width: 260px;
  margin: 0 auto;
}
.modal_error .cont_modal .cont_info .cont_err .cont_ab_err .btns_err .btn_err{
  width: 118px;
  float: left;
  color: #fff;
  padding: 8px 5px;
  text-decoration: none;
  border-radius: 6px;
  text-align: center;
}
.modal_error .cont_modal .cont_info .cont_err .cont_ab_err .btns_err .btn_err1{
  background: #900;
  margin-right: 2px;
}
.modal_error .cont_modal .cont_info .cont_err .cont_ab_err .btns_err .btn_err2{
  background: #090;
  margin-left: 2px;
}
.paso_01 .process_carro {
  padding: 10px;
}
.paso_01 .process_carro .process_carro_promo {
  margin-bottom: 10px;
  padding: 6px 6px 26px 6px;
}
.paso_01 .process_carro .process_carro_promo .promo_info {
  padding-left: 4px;
}
.paso_01 .process_carro .process_carro_promo .promo_precio {
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.paso_01 .process_carro .process_carro_promo .promo_detalle {
  padding-left: 6px;
  padding-top: 6px;
}
.paso_01 .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre {
  padding: 3px 0px;
  width: calc(100% - 25px);
}
.paso_01 .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones {
  width: 25px;
}
.paso_01 .process_carro .process_carro_promo .promo_delete {

}
.paso_01 .process_carro .process_carro_restantes {
  padding: 20px 6px 10px 6px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item {
  margin-bottom: 10px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre {
  width: calc(100% - 119px);
  padding-left: 4px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones {
  width: 115px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .accion {
  width: 20px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio {
  width: 65px;
  text-align: right;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .pregunta {
  width: 20px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .espacio {
  width: 20px;
  height: 20px;
}
.paso_01 .process_carro .process_carro_precio_carta {
  text-align: right;
}
.paso_01 .sub_total {
  height: 50px;
}
.paso_01 .sub_total .cont_subtotal .total_detalle {
  right: 6px;
}
.paso_02 .cont_direccion .direccion_opciones {
  padding: 10px;
}
.paso_02 .cont_direccion .direccion_opciones .dir_op {
  margin-bottom: 10px;
  background-size: cover;
  height: 120px;
}
.paso_02 .cont_direccion .direccion_opciones .dir_op .codir {
  width: 100%;
  height: 100%;
  position: relative;
}
.paso_02 .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir {
  left: 20px;
}
.paso_02 .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir .title {

}
.paso_02 .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir .stitle {

}
.paso_02 .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir .alert {

}
.cont_direccion .direccion_op1 {
  padding: 10px;
}
.cont_direccion .direccion_op1 .dir_locales {
  background-size: cover;
}
.cont_direccion .direccion_op1 .parent_locales {
  padding-bottom: 10px;
}
.cont_direccion .direccion_op1 .dir_locales .cont_local {
  width: 100%;
  height: 100%;
  position: relative;
}
.cont_direccion .direccion_op1 .cont_map {
  padding: 6px;
  background: #ccc;
  display: none;
}
.cont_direccion .direccion_op1 .cont_map .dir_map {
  width: 100%;
  height: 160px;
}
.cont_direccion .direccion_op1 .dir_locales .cont_local .left_acciones {
  width: calc(100% - 75px);
  height: 100%;
  position: absolute;
  padding-left: 10px;
}
.cont_direccion .direccion_op1 .dir_locales .cont_local .left_acciones .local_info {
  width: 100%;
}
.cont_direccion .direccion_op1 .dir_locales .cont_local .accioness {
  right: 10px;
  min-width: 35px;
  height: 100%;
}
.cont_direccion .direccion_op1 .dir_locales .cont_local .accion {
  height: 33.33%;
  width: 36px;
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.cont_direccion .direccion_op1 .dir_locales .cont_local .local_info .alert {
  color: #D00;
  display: none;
}
.paso_02b .cont_direccion .direccion_op2 #pac-input {
  margin: 1%;
  width: 97%;
  height: 40px;
}
.paso_02b .cont_direccion .direccion_op2 #map_direccion {
  height: 100%;
}

.paso_03 .cont_final {
  padding: 15px;
}
.paso_03 .cont_final .block_direccion {
  padding-bottom: 10px;
}
.paso_03 .cont_final .block_direccion .item_direccion {
  width: 50%;
}
.paso_03 .cont_final .block_direccion .item_numero {
  width: 25%;
}
.paso_03 .cont_final .block_direccion .item_depto {
  width: 25%;
}
.paso_03 .cont_final .block_nombre_telefono {
  padding-bottom: 10px;
}
.paso_03 .cont_final .block_nombre_telefono .item_nombre {
  width: 50%;
}
.paso_03 .cont_final .block_nombre_telefono .item_telefono {
  width: 50%;
}
.paso_03 .cont_final .block_preguntas {
  padding-bottom: 10px;
  display: block;
}
.paso_03 .cont_final .block_preguntas h1 {
  display: block;
  padding-bottom: 4px;
}
.paso_03 .cont_final .block_preguntas .preguntas {
  padding: 10px;
}
.paso_03 .cont_final .block_preguntas .preguntas .pregunta {
  padding: 1px 0px;
}
.paso_03 .cont_final .block_preguntas .preguntas .pregunta li.pre_nom {
  width: 90%;
}
.paso_03 .cont_final .block_preguntas .preguntas .pregunta li.pre_input {
  width: 10%;
  text-align: right;
}
.paso_03 .cont_final .block_preguntas .preguntas .pregunta li.pre_input input {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}
.paso_03 .sub_total {
  height: 74px;
}
.paso_03 .sub_total .cont_subtotal .total_detalle {
  right: 6px;
}
.paso_04 .cont_modal .titulo h1 {

}
.paso_04 .cont_modal .info_modal .pedido_mensaje {
  margin: 15px 25px 0px 25px;
  background: #fcc;
  padding: 10px;
  color: #600;
  display: none;
}
.paso_04 .cont_modal .info_modal .pedido_final {
  padding: 10px;
}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido {
  margin: 0px 15px;
  background: #ddd;
}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido .estado {
  width: 46%;
  float: left;
  display: block;
  padding: 2%;
}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido .estado h1 {

}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido .estado h2 {

}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido .tiempo {
  width: 46%;
  float: left;
  display: block;
  padding: 2%;
}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido .tiempo h1 {

}
.paso_04 .cont_modal .info_modal .pedido_final .cont_pedido .tiempo h2 {

}
.paso_04 .cont_modal .info_modal .pedido_final .posicion {
  height: 240px;
  background: #ccc;
  display: block;
  margin: 0px 15px;
}
.paso_04 .cont_modal .info_modal .pedido_final .total {
  text-align: right;
  display: block;
  margin: 0 15px;
  background: #ddd;
  padding: 2%;
}
.paso_04 .cont_modal .info_modal .pedido_chat {
  margin: 10px 25px 20px 25px;
  position: relative;
  height: 135px;
}
.paso_04 .cont_modal .info_modal .pedido_chat .mensajes {
  width: 100%;
  height: 100px;
  background: #fff;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
.paso_04 .cont_modal .info_modal .pedido_chat .mensajes .info_mensajes {
  width: 96%;
  padding: 2%;
}
.paso_04 .cont_modal .info_modal .pedido_chat .mensajes .info_mensajes .chat_1 {
  display: block;
  margin-right: 10%;
  text-align: left;
}
.paso_04 .cont_modal .info_modal .pedido_chat .mensajes .info_mensajes .chat_2 {
  display: block;
  margin-left: 10%;
  text-align: right;
}
.paso_04 .cont_modal .info_modal .pedido_chat .mensajes .info_mensajes .nom {
  font-weight: bold;
  display: block;
}
.paso_04 .cont_modal .info_modal .pedido_chat .mensajes .info_mensajes .msg {
  display: block;
}
.paso_04 .cont_modal .info_modal .pedido_chat .enviar {
  width: 72px;
  right: 0px;
  background: #999;
  top: 105px;
  height: 30px;
  position: absolute;
}
.paso_04 .cont_modal .info_modal .pedido_chat .enviar .enviar_txt {
  position: absolute;
  color: #fff;
}
.paso_04 .cont_modal .info_modal .pedido_chat .entrada {
  width: calc(100% - 80px);
  background: #fff;
  position: absolute;
  left: 0px;
  top: 104px;
  height: 30px;
  border: 1px solid #ccc;
}
.paso_04 .cont_modal .info_modal .pedido_chat .entrada input {
  padding: 0% 1%;
  width: 98%;
  height: 100%;
  border: 0px;
  background: none;
}

.prin_alpha_1 {
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
}

.prin_alpha_2 {
  background: linear-gradient(90deg, gray 0%, rgba(128, 128, 128, 0) 100%);
}

.prin_alpha_3 {
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.prin_alpha_4 {
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.5) 100%);
}

/*# sourceMappingURL=css_tipo_01.css.map */
