/*
body .contenedor .menu_left .cont_menu_left .menu_info h1 {
  font-size: 24px;
}
body .contenedor .menu_left .cont_menu_left .menu_info ul li {
  font-size: 12px;
}
body .contenedor .pagina .cont_pagina .header .menu_right .cantcart .cantcart_num {
  font-size: 14px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .nombre {
  font-size: 18px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .descripcion {
  font-size: 14px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .precio {
  font-size: 16px;
}
.modal_pagina .cont_modal .titulo .cont_titulo h1 {
  font-size: 20px;
}
.modal_pagina .cont_modal .titulo .cont_titulo h2 {
  font-size: 14px;
}
.modal_carta .cont_modal .titulo .cont_titulo h1 {
  font-size: 20px;
}
.modal_carta .cont_modal .titulo .cont_titulo h2 {
  font-size: 14px;
}
.modal_error_locales .cont_modal .titulo .cont_titulo h1 {
  font-size: 20px;
}
.modal_error_locales .cont_modal .titulo .cont_titulo h2 {
  font-size: 14px;
}
.modal_error_locales .cont_direccion .dir_locales .local_info .title {
  font-size: 20px;
}
.modal_error_locales .cont_direccion .dir_locales .local_info .stitle {
  font-size: 14px;
}
.modal_productos_promo .cont_modal .titulo .cont_titulo h1 {
  font-size: 20px;
}
.modal_productos_promo .cont_modal .titulo .cont_titulo h2 {
  font-size: 14px;
}
.modal_pregunta_productos .cont_modal .titulo .cont_titulo h1 {
  font-size: 22px;
}
.modal_carro .cont_modal .titulo .cont_titulo h1 {
  font-size: 20px;
}
.modal_carro .cont_modal .titulo .cont_titulo h2 {
  font-size: 14px;
}
.paso_01 .process_carro .process_carro_promo .promo_info {
  font-size: 26px;
}
.paso_01 .process_carro .process_carro_promo .promo_precio {
  font-size: 20px;
}
.paso_01 .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre {
  font-size: 12px;
}
.paso_01 .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones .accion {
  font-size: 22px;
}
.paso_01 .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones .precio {
  font-size: 13px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre {
  font-size: 13px;
}
.paso_01 .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio {
  font-size: 16px;
}
.paso_01 .process_carro .process_carro_precio_carta {
  font-size: 40px;
}
.paso_01 .sub_total .cont_subtotal .total_detalle li {
  font-size: 28px;
}
.paso_02 .cont_direccion .direccion_opciones .dir_op .title {
  font-size: 17px;
}
.paso_02 .cont_direccion .direccion_opciones .dir_op .stitle {
  font-size: 11px;
}
.paso_02 .sub_total .cont_subtotal .total_detalle li {
  font-size: 14px;
}
.paso_02a .cont_direccion .direccion_op1 .dir_locales .cont_local .local_info .title {
  font-size: 24px;
}
.paso_02a .cont_direccion .direccion_op1 .dir_locales .cont_local .local_info .stitle {
  font-size: 12px;
}
.paso_03 .cont_final .block_preguntas h1 {
  font-size: 12px;
}
.paso_03 .cont_final .block_preguntas .preguntas .pregunta li.pre_nom {
  font-size: 14px;
}
.paso_03 .sub_total .cont_subtotal .total_detalle .paso_03_costo {
  font-size: 14px;
}
.paso_03 .sub_total .cont_subtotal .total_detalle .paso_03_total {
  font-size: 28px;
}
*/

@media only screen and (max-width: 400px){
  .font1{
    font-size: 16px;
  }
  .font2{
    font-size: 15px;
  }
  .font3{
    font-size: 14px;
  }
  .font4{
    font-size: 13px;
  }
  .font5{
    font-size: 11px;
  }
}
@media only screen and (min-width: 400px){
  .font1{
    font-size: 20px;
  }
  .font2{
    font-size: 18px;
  }
  .font3{
    font-size: 16px;
  }
  .font4{
    font-size: 14px;
  }
  .font5{
    font-size: 11px;
  }
}
@media only screen and (min-width: 700px){
  .font1{
    font-size: 24px;
  }
  .font2{
    font-size: 21px;
  }
  .font3{
    font-size: 18px;
  }
  .font4{
    font-size: 15px;
  }
  .font5{
    font-size: 11px;
  }
}
@media only screen and (min-width: 1000px){
  .font1{
    font-size: 28px;
  }
  .font2{
    font-size: 25px;
  }
  .font3{
    font-size: 21px;
  }
  .font4{
    font-size: 16px;
  }
  .font5{
    font-size: 11px;
  }
}