html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.titulo{
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 15px 0px;
}
.lista_de_productos{
    padding: 15px 0px 5px 0px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.lista_de_productos .producto{
    padding-bottom: 10px;
}
.lista_de_productos .producto .nombre{
    font-size: 20px;
}
.lista_de_productos .producto .pregunta{
    font-size: 14px;
}
.info_cliente{
    padding: 15px 0px 10px 0px;
    text-align: center;
    border-bottom: 1px solid #000;
}
.info_cliente .direccion{
    font-size: 16px;
    padding-bottom: 5px;
}
.info_cliente .depto{
    font-size: 16px;
    padding-bottom: 5px;
}
.info_cliente .nombre{
    font-size: 16px;
    padding-bottom: 5px;
}
.info_cliente .telefono{
    font-size: 16px;
    padding-bottom: 5px;
}
.info_cliente .wasabi{
    font-size: 16px;
    padding-bottom: 5px;
}