html {
  height: 100%;
}
html body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
html body .contenedor {
  width: 100%;
  height: 100%;
  position: relative;
}

/* MENU LEFT */
body .contenedor .menu_left {
  width: 219px;
  height: 100%;
  top: 0px;
  left: -220px;
  position: fixed;
  z-index: 2;
}
body .contenedor .menu_left .cont_menu_left {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .menu_left .cont_menu_left .btn_toogle {
  width: 40px;
  height: 40px;
  right: -50px;
  font-size: 40px;
  position: absolute;
}
body .contenedor .menu_left .cont_menu_left .menu_info {
  display: block;
}
/* MENU LEFT */
/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
body .contenedor .pagina {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
}
body .contenedor .pagina .cont_pagina {
  position: relative;
  width: 100%;
  height: 100%;
}
body .contenedor .pagina .cont_pagina .header {
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
}
body .contenedor .pagina .cont_pagina .header .header_logo img {
  max-width: 100%;
}
body .contenedor .pagina .cont_pagina .header .menu_right {
  position: absolute;
  z-index: 2;
}
body .contenedor .pagina .cont_pagina .header .menu_right .cantcart {
  position: absolute;
}
body .contenedor .pagina .cont_pagina .header .cart_info {
  position: absolute;
  z-index: 2;
}
body .contenedor .pagina .cont_pagina .footer {
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 2;
}
body .contenedor .pagina .cont_pagina .fixed {
  position: fixed;
}
body .contenedor .pagina .cont_pagina .absolute {
  position: absolute;
}
body .contenedor .pagina .cont_pagina .contenido {
  width: 100%;
  z-index: 1;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido {
  margin: 0 auto;
  display: block;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales {
  display: block;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .cont_bp {
  position: relative;
  width: 100%;
  height: 100%;
}
/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
/* MODALS BASE */
body .contenedor .modals {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
  display: none;
}
body .contenedor .modals .cont_modals {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .modals .cont_modals .modal {
  position: absolute;
}
body .contenedor .modals .cont_modals .modal .cont_modal {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .modals .cont_modals .modal .cont_modal .titulo {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .titulo .cont_titulo {
  width: 100%;
  text-align: center;
}
body .contenedor .modals .cont_modals .modal .cont_modal .close {
  position: absolute;
  z-index: 3;
}
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total {
  position: absolute;
  z-index: 2;
  left: 0px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total .cont_subtotal {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .modals .cont_modals .modal .cont_modal .acciones {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  bottom: 0px;
}
/* MODALS BASE */
/* MODALS PASO 01 CARRO */
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_acciones {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .espacio {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .pregunta {
  float: left;
}
body .contenedor .modals .cont_modals .paso_01 .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .accion {
  float: left;
}
/* MODALS PASO 01 CARRO */
/* MODALS PASO 02 CARRO */
body .contenedor .modals .cont_modals .paso_02 .cont_modal .cont_info .info_modal .cont_direccion .direccion_opciones .dir_op .codir {
  width: 100%;
  height: 100%;
  position: relative;
}
/* MODALS PASO 02 CARRO */
/* MODALS PASO 02A  CARRO */
body .contenedor .modals .cont_modals .paso_02 .cont_modal .cont_info .info_modal .cont_direccion .direccion_opciones .dir_op .codir {
  width: 100%;
  height: 100%;
  position: relative;
}
/* MODALS PASO 02 CARRO */
/* MODALS PASO 02A LOCALES CARRO */
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones {
  position: absolute;
  height: 100%;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .accioness {
  height: 100%;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .accioness .accion {
  display: block;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .cont_map .dir_map {
  width: 100%;
}
/* MODALS PASO 02A LOCALES CARRO */
/* MODALS PASO 02B LOCALES CARRO */
body .contenedor .modals .cont_modals .paso_02b .cont_modal .acciones {
  display: none;
}
/* MODALS PASO 02B LOCALES CARRO */
/* MODALS PASO 3 DATA */
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_direccion {
  float: left;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_numero {
  float: left;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_depto {
  float: left;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_nombre_telefono .item_nombre {
  float: left;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_nombre_telefono .item_telefono {
  float: left;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_preguntas .preguntas .pregunta .pre_nom {
  float: left;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_preguntas .preguntas .pregunta .pre_input {
  float: left;
}
/* MODALS PASO 3 DATA */
/* MODALS PASO 4 LOCALES CARRO */
body .contenedor .modals .cont_modals .paso_04 .cont_modal .cont_info .info_modal .data_final .pedido_final .cont_pedido .estado {
  float: left;
}
body .contenedor .modals .cont_modals .paso_04 .cont_modal .cont_info .info_modal .data_final .pedido_final .cont_pedido .tiempo {
  float: left;
}
body .contenedor .modals .cont_modals .paso_04 .cont_modal .cont_info .info_modal .data_final .pedido_chat {
  position: relative;
}
body .contenedor .modals .cont_modals .paso_04 .cont_modal .cont_info .info_modal .data_final .pedido_chat .mensajes {
  position: absolute;
}
body .contenedor .modals .cont_modals .paso_04 .cont_modal .cont_info .info_modal .data_final .pedido_chat .entrada {
  position: absolute;
}
body .contenedor .modals .cont_modals .paso_04 .cont_modal .cont_info .info_modal .data_final .pedido_chat .enviar {
  position: absolute;
}
/* MODALS PASO 4 LOCALES CARRO */
/* MODALS PASO PREGUNTAS */
/* MODALS PASO PREGUNTAS */
/* MODALS PASO PROMOCION */
body .contenedor .modals .cont_modals .modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item {
  position: relative;
}
/* MODALS PASO PROMOCION */
/* MODALS PASO CARTA */
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .cont_producto {
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .carro .add_carro_btn {
  float: left;
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .carro .add_carro_alert {
  float: left;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 table tr td .carro .add_carro_btn {
  float: left;
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 table tr td .carro .add_carro_alert {
  float: left;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto3 .pro_fondo .cont_pr {
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto3 .carro .add_carro_btn {
  float: left;
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto3 .carro .add_carro_alert {
  float: left;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo {
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .cont_detalle_pro .cont_detalle_pro_np .nombre {
  float: left;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .cont_detalle_pro .cont_detalle_pro_np .precio {
  float: left;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo {
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen {
  position: relative;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item {
  position: relative;
}
/* MODALS PASO CARTA */
/* MODALS PAGINA */
/* MODALS PAGINA */
/* MODALS ERROR LOCALES */
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local {
  width: 100%;
  height: 100%;
  position: relative;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones {
  position: absolute;
  height: 100%;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .accioness {
  height: 100%;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .accioness .accion {
  display: block;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .cont_map .dir_map {
  width: 100%;
}
/* MODALS ERROR LOCALES */
/* MODALS ERROR */
/* MODALS ERROR */
/* MODALS CONTACTO */
/* MODALS CONTACTO */
.prin_alpha_1 {
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}

.prin_alpha_2 {
  background: linear-gradient(90deg, gray 0%, rgba(128, 128, 128, 0) 100%);
}

.prin_alpha_3 {
  background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
}

.prin_alpha_4 {
  background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.5) 100%);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, span {
  margin: 0;
  padding: 0;
  outline: none;
}

table {
  width: 100%;
  height: 100%;
}

fieldset, img, abbr, acronym {
  border: 0px;
}

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul, dl {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-size: 100%;
  font-weight: normal;
}

a {
  outline: none;
}

/*PROPIEDADES*******************************/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

/*\*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

/**/
.hide {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

.flotar_izq {
  float: left;
  display: inline;
}

.flotar_der {
  float: right;
  display: inline;
}

.vhalign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.valign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.halign {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=rcss_base.css.map */
