body .contenedor .menu_left .cont_menu_left .menu_info h1 {
  font-size: 20px;
}
body .contenedor .menu_left .cont_menu_left .menu_info .lista_paginas a {
  font-size: 18px;
}

/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
body .contenedor .pagina .cont_pagina .header .menu_right .cantcart .cantcart_num {
  font-size: 14px;
}
body .contenedor .pagina .cont_pagina .header .cart_info {
  font-size: 12px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .cont_bp .cont_bpi .nombre {
  font-size: 18px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .cont_bp .cont_bpi .descripcion {
  font-size: 12px;
}
body .contenedor .pagina .cont_pagina .contenido .cont_contenido .botones_principales .cont_bp .cont_bpi .precio {
  font-size: 16px;
}

/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
/* MODALS BASE */
body .contenedor .modals .cont_modals .modal .cont_modal .titulo .cont_titulo h1 {
  font-size: 21px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .titulo .cont_titulo h2 {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total .cont_subtotal .total_detalle .paso_01_sub_total {
  font-size: 20px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total .cont_subtotal .total_detalle .paso_03_costo {
  font-size: 20px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .sub_total .cont_subtotal .total_detalle .paso_03_total {
  font-size: 20px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .acciones .confirmar {
  font-size: 16px;
}

/* MODALS BASE */
/* MODALS PASO 01 CARRO */
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info .info_modal .process_carro .process_carro_promo .promo_info {
  font-size: 22px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info .info_modal .process_carro .process_carro_promo .promo_precio {
  font-size: 22px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info .info_modal .process_carro .process_carro_promo .promo_detalle .promo_detalle_item .promo_detalle_nombre {
  font-size: 16px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal .cont_modal .cont_info .info_modal .process_carro .process_carro_restantes .restantes_detalle_item .restantes_detalle_acciones .precio {
  font-size: 18px;
}
/* MODALS PASO 01 CARRO */
/* MODALS PASO 02 CARRO */
body .contenedor .modals .cont_modals .paso_02 .cont_modal .cont_info .info_modal .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir .title {
  font-size: 20px;
}
body .contenedor .modals .cont_modals .paso_02 .cont_modal .cont_info .info_modal .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir .stitle {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .paso_02 .cont_modal .cont_info .info_modal .cont_direccion .direccion_opciones .dir_op .codir .cont_info_dir .alert {
  font-size: 16px;
}
/* MODALS PASO 02 CARRO */
/* MODALS PASO 02A LOCALES CARRO */
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones .local_info .title {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones .local_info .stitle {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .paso_02a .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones .local_info .alert {
  font-size: 18px;
}
/* MODALS PASO 02A LOCALES CARRO */
/* MODALS PASO 02B LOCALES CARRO */
body .contenedor .modals .cont_modals .paso_02b .cont_modal .acciones {
  display: none;
}
/* MODALS PASO 02B LOCALES CARRO */
/* MODALS PASO 3 DATA */
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_direccion h1 {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_direccion h2 {
  font-size: 12px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_numero h1 {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_numero h2 {
  font-size: 12px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_direccion .item_depto h1 {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_nombre_telefono .item_nombre h1 {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_nombre_telefono .item_telefono h1 {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_preguntas h1 {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .paso_03 .cont_modal .cont_info .info_modal .cont_final .block_preguntas .preguntas .pregunta .pre_nom {
  font-size: 16px;
}
/* MODALS PASO 3 DATA */
/* MODALS PASO 4 LOCALES CARRO */
/* MODALS PASO 4 LOCALES CARRO */
/* MODALS PASO PREGUNTAS */
body .contenedor .modals .cont_modals .modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .pregunta_titulo {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .titulo_v_pregunta {
  font-size: 12px;
}
body .contenedor .modals .cont_modals .modal_pregunta_productos .cont_modal .cont_info .info_modal .s_pregunta .e_pregunta .v_pregunta .n_pregunta {
  font-size: 14px;
}
/* MODALS PASO PREGUNTAS */
/* MODALS PASO PROMOCION */
body .contenedor .modals .cont_modals .modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item .pro_cat_item_nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_productos_promo .cont_modal .cont_info .info_modal .pro_cat_promo .pro_cat_item .pro_cat_item_descripcion {
  font-size: 12px;
}
/* MODALS PASO PROMOCION */
/* MODALS PASO CARTA */
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .cont_producto .cont_info_pro .nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .cont_producto .cont_info_pro .descripcion {
  font-size: 16px;
  line-height: 14px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto .cont_producto .cont_info_pro .precio {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 table tr td .cont_data .nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 table tr td .cont_data .descripcion {
  font-size: 16px;
  line-height: 14px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto2 table tr td .cont_data .precio {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto3 .pro_fondo .cont_pr .cont_prod .nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto3 .pro_fondo .cont_pr .cont_prod .descripcion {
  font-size: 16px;
  line-height: 14px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_productos .producto3 .pro_fondo .cont_pr .cont_prod .precio {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .cont_detalle_pro .cont_detalle_pro_np .nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .cont_detalle_pro .cont_detalle_pro_np .precio {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondo .cont_detalle_pro .descripcion {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondoi .nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondoi .descripcion {
  font-size: 14px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .promocion .cont_fondoi .precio {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo .cont_fondoi .nombre {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo .cont_fondoi .descripcion {
  font-size: 12px;
  line-height: 12px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoria .cont_fondo .cont_fondoi .precio {
  font-size: 16px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .nombre {
  font-size: 22px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .descripcion {
  font-size: 16px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_nom .prod_i_ttl {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_nom .prod_i_sttl {
  font-size: 12px;
  line-height: 12px;
}
body .contenedor .modals .cont_modals .modal_carta .cont_modal .cont_info .info_modal .lista_categorias .categoriaopen .cont_fondo .listado .prod_item .prod_i_pre {
  font-size: 16px;
}
/* MODALS PASO CARTA PENDIENTE */
/* MODALS PAGINA */
/* MODALS PAGINA */
/* MODALS ERROR LOCALES */
body .contenedor .modals .cont_modals .modal_error_locales .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones .local_info .title {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_error_locales .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones .local_info .stitle {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_error_locales .cont_modal .cont_info .info_modal .cont_direccion .direccion_op1 .parent_locales .dir_locales .cont_local .left_acciones .local_info .alert {
  font-size: 18px;
}
/* MODALS ERROR LOCALES */
/* MODALS ERROR */
/* MODALS ERROR */
/* MODALS CONTACTO */
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_contacto h1 {
  font-size: 18px;
}
body .contenedor .modals .cont_modals .modal_contacto .cont_modal .cont_info .info_modal .cont_final .input_enviar input {
  font-size: 14px;
}

/* MODALS CONTACTO */
/* MODALS PAGINA INICIO */
/* MODALS PAGINA INICIO */

/*# sourceMappingURL=rcss_fontsize_01.css.map */
