body{
    .contenedor {
        .menu_left {
            .cont_menu_left{
                .btn_toogle{
                    top: 40px;
                }
                .menu_info{
                    padding: 40px 20px 0px 20px;
                    h1{}
                    ul{
                        padding-top: 50px;
                        li{ padding: 5px 0px; border-bottom-style: solid; border-bottom-width: 1px }
                    }
                }
            }
        }
    }
}

$header_height: 130px;
$footer_height: 10px;

$padd_footer_fixed: 110px;
$padd_footer_nofixed: 5px;

/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
body {
    .contenedor {
        .pagina {
            .cont_pagina {
                .header {
                    height: $header_height;
                    border-bottom-style: solid;
                    border-bottom-width: 1px;
                    .header_logo {
                        img {}
                    }
                    .menu_right {
                        height: 40px;
                        width: 40px;
                        right: 20px;
                        .shop { font-size: 36px; }
                        .cantcart {
                            width: 26px;
                            height: 26px;
                            border-radius: 13px;
                            top: 22px;
                            left: -10px;
                            .cantcart_num{}
                        }
                    }
                    .cart_info{
                        right: 20px;
                        bottom: 15px;
                    }
                }
                .footer { height: $footer_height; }
                .contenido {
                    .cont_contenido {
                        width: 94%;
                        max-width: 500px;
                        padding-top: $header_height;
                        .botones_principales {
                            background-size: cover;
                            margin-top: 5px;
                            .cont_bp{
                                .cont_bpi{
                                    width: 70%;
                                    left: 3%;
                                    .nombre {}
                                    .descripcion { line-height: 15px; }
                                    .precio {}
                                }
                            }
                        }
                    }
                    .padd_footer_fixed{
                        padding-bottom: $padd_footer_fixed;
                    }
                    .padd_footer_nofixed{
                        padding-bottom: $padd_footer_nofixed;
                    }
                }
            }
        }
    }
}
/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */

$modal_titulo_height: 80px;
$modal_acciones_height: 55px;
$modal_subtotal_bottom: 56px;
$modal_subtotal_height: 50px;

$modal_info_modal_padding1: 56px;
$modal_info_modal_padding2: 106px;

/* MODALS BASE */
body {
    .contenedor {
        .modals{
            background: rgba(0, 0, 0, 0.75);
            .cont_modals {
                .modal {
                    .cont_modal {
                        .titulo {
                            border-bottom-style: solid;
                            border-bottom-width: 1px;
                            height: $modal_titulo_height;
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close { width: 34px; height: 34px; top: 2px; right: 2px; font-size: 34px; }
                        .cont_info {
                            .info_modal {
                                padding-top: $modal_titulo_height;
                            }
                            .padding_01 {
                                padding-bottom: $modal_info_modal_padding1;
                            }
                            .padding_02 {
                                padding-bottom: $modal_info_modal_padding2;
                            }
                        }
                        .sub_total {
                            bottom: $modal_subtotal_bottom;
                            width: 100%;
                            height: $modal_subtotal_height;
                            .cont_subtotal {
                                .total_detalle{
                                    text-align: right;
                                    right: 6px;
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            border-top-style: solid;
                            border-top-width: 1px;
                            height: $modal_acciones_height;
                            .confirmar{
                                padding: 5px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS BASE */


/* MODALS PASO 01 CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .process_carro {
                                    padding: 10px;
                                    .process_carro_promo{
                                        position: relative;
                                        margin-bottom: 10px;
                                        padding: 6px 6px 26px 6px;
                                        .promo_info{}
                                        .promo_precio{
                                            position: absolute;
                                            bottom: 5px;
                                            right: 5px;
                                        }
                                        .promo_delete{
                                            position: absolute;
                                            top: 0px;
                                            right: 0px;
                                            font-size: 30px;
                                            width: 30px;
                                            height: 30px;
                                        }
                                        .promo_detalle{
                                            padding-left: 10px;
                                            padding-top: 10px;
                                            .promo_detalle_item{
                                                .promo_detalle_nombre{
                                                    width: calc(100% - 25px);
                                                }
                                                .promo_detalle_acciones{
                                                    width: 25px;
                                                    .accion{
                                                        font-size: 25px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .process_carro_restantes{
                                        padding: 6px;
                                        .restantes_detalle_item{
                                            margin-bottom: 6px;
                                            padding: 5px 0px;
                                            border-top-style: solid;
                                            border-top-width: 1px;
                                            .restantes_detalle_nombre{
                                                width: calc(100% - 120px);
                                            }
                                            .restantes_detalle_acciones{
                                                width: 120px;
                                                .precio{ width: 76px; text-align: right; }
                                                .espacio{ width: 22px }
                                                .pregunta{ width: 22px }
                                                .accion{ width: 22px }
                                            }
                                        }
                                    }
                                }
                            }
                            .padding_01 {}
                            .padding_02 {}
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 01 CARRO */



/* MODALS PASO 02 CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    padding: 10px;
                                    .direccion_opciones {
                                        .dir_op{
                                            margin-bottom: 10px;
                                            background-size: cover;
                                            .codir{
                                                .cont_info_dir {
                                                    left: 20px;
                                                    .title{}
                                                    .stitle{}
                                                    .alert{}
                                                }
                                            }
                                        }
                                        .rlocal{}
                                        .cdesp{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02 CARRO */



/* MODALS PASO 02A LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    padding: 10px;
                                    .direccion_op1 {
                                        .parent_locales {
                                            padding-bottom: 10px;
                                            .dir_locales {
                                                background-size: cover;
                                                .cont_local {
                                                    .left_acciones {
                                                        width: calc(100% - 75px);
                                                        left: 10px;
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        right: 10px;
                                                        min-width: 36px;
                                                        .accion {
                                                            height: 33.33%;
                                                            width: 36px;
                                                            background-repeat: no-repeat;
                                                            background-size: contain;
                                                            background-position: center;
                                                        }
                                                        .ver_tel {
                                                            background-image: url('../_images/telefono.png');
                                                        }
                                                        .ver_whats {
                                                            background-image: url('../_images/whatsapp.png');
                                                        }
                                                        .ver_mapa {
                                                            background-image: url('../_images/mapa.png');
                                                        }
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                display: none;
                                                padding: 6px;
                                                .dir_map{ height: 160px }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02A LOCALES CARRO */



/* MODALS PASO 02B LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02b {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    height: 100%;
                                    .direccion_op2 {
                                        height: 100%;
                                        #map_direccion{
                                            height: 100%;
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            display: none;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02B LOCALES CARRO */



/* MODALS PASO 3 DATA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_03 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    padding: 10px;
                                    .block_direccion {
                                        margin-bottom: 10px;
                                        .item_direccion {
                                            width: 50%;
                                            h1{}
                                            h2{ height: 30px; }
                                        }
                                        .item_numero {
                                            width: 25%;
                                            h1{}
                                            h2{ height: 30px; }
                                        }
                                        .item_depto {
                                            width: 25%;
                                            h1{}
                                            input{ height: 30px; border: 0px }
                                        }
                                    }
                                    .block_nombre_telefono {
                                        margin-bottom: 10px;
                                        .item_nombre {
                                            width: 50%;
                                            h1{}
                                            input{ height: 30px; border: 0px }
                                        }
                                        .item_telefono {
                                            width: 50%;
                                            h1{}
                                            input{ height: 30px; border: 0px }
                                        }
                                    }
                                    .block_preguntas {
                                        margin-bottom: 10px;
                                        h1{}
                                        .preguntas {
                                            padding: 10px;
                                            margin-top: 4px;
                                            .pregunta {
                                                .pre_nom{ 
                                                    width: 90%;
                                                }
                                                .pre_input {
                                                    width: 10%;
                                                    input{ width: 18px; height: 18px; margin-top: 2px }
                                                }
                                                textarea{ width: 100%; height: 70px; border: 0px }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 3 DATA */



/* MODALS PASO 4 LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_04 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .data_final {
                                    padding: 10px;
                                    .pedido_mensaje{ 
                                        margin-bottom: 10px;
                                        padding: 10px;
                                    }
                                    .pedido_final {
                                        .cont_pedido {
                                            .estado {
                                                width: 46%;
                                                padding: 2%;
                                                h1{}
                                                h2{}
                                            }
                                            .tiempo {
                                                width: 46%;
                                                padding: 2%;
                                                h1{}
                                                h2{} 
                                            }
                                        }
                                        .posicion{ height: 240px; }
                                        .total{ padding: 2%; text-align: right; }
                                    }
                                    .titulo_chat{
                                        margin-top: 10px;
                                    }
                                    .pedido_chat {
                                        margin-top: 5px;
                                        height: 135px;
                                        .mensajes {
                                            width: 100%;
                                            height: 100px;
                                            top: 0px;
                                            left: 0px;
                                            overflow-y: auto;
                                            .info_mensajes{
                                                padding: 2%;
                                            }
                                        }
                                        .entrada {
                                            width: calc(100% - 80px);
                                            height: 30px;
                                            border: 1px solid #ccc;
                                            top: 104px;
                                            left: 0px;
                                            input{
                                                padding: 0% 1%;
                                                width: 98%;
                                                height: 100%;
                                                border: 0px;
                                            }
                                        }
                                        .enviar {
                                            width: 72px;
                                            right: 0px;
                                            top: 105px;
                                            height: 30px;
                                            .enviar_txt{}
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 4 LOCALES CARRO */



/* MODALS PASO PREGUNTAS */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pregunta_productos {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .s_pregunta {
                                    padding: 10px;
                                    .e_pregunta {
                                        margin-bottom: 10px;
                                        .pregunta_titulo{}
                                        .titulo_v_pregunta{}
                                        .v_pregunta{
                                            margin-top: 10px;
                                            border-top-style: solid;
                                            border-top-width: 1px;
                                            border-left-style: solid;
                                            border-left-width: 1px;
                                            border-right-style: solid;
                                            border-right-width: 1px;
                                            .n_pregunta{
                                                padding: 10px;
                                                border-bottom-style: solid;
                                                border-bottom-width: 1px;
                                            }
                                            .selected{}
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PREGUNTAS */



/* MODALS PASO PROMOCION */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_productos_promo {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .pro_cat_promo {
                                    padding: 10px;
                                    .pro_cat_item {
                                        padding: 10px 0px;
                                        margin-top: 2px;
                                        .pro_cat_item_select {
                                            width: 50px;
                                            left: 10px;
                                            select{
                                                width: 100%;
                                                height: 40px;
                                            }
                                        }
                                        .pro_cat_item_nombre{
                                            padding-left: 70px;
                                        }
                                        .pro_cat_item_descripcion{
                                            padding-left: 70px;
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PROMOCION */



/* MODALS PASO CARTA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_carta {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .lista_productos {
                                    .producto {
                                        margin-bottom: 5px;
                                        .cont_producto{
                                            padding: 10px;
                                            min-height: 60px;
                                            .cont_info_pro{
                                                width: calc(100% - 20px);
                                                .nombre{
                                                    padding-left: 75px;
                                                }
                                                .descripcion{
                                                    padding-left: 75px;
                                                }
                                                .precio{
                                                    width: 70px;
                                                    right: 10px;
                                                    text-align: right;
                                                }
                                            }
                                        }
                                        .carro{
                                            padding: 5px;
                                            .add_carro_btn{
                                                padding: 2px;
                                                .add_info{
                                                    padding: 5px 30px 5px 5px;
                                                }
                                                .add_logo{
                                                    width: 24px;
                                                    height: 24px;
                                                    right: 5px;
                                                }
                                            }
                                            .add_carro_alert{
                                                padding: 5px 0px 0px 10px;
                                            }
                                        }
                                    }
                                    .producto2 {
                                        margin-bottom: 5px;
                                        table {
                                            tr {
                                                td {
                                                    .cont_data {
                                                        .nombre {

                                                        }
                                                        .descripcion {
                                                            
                                                        }
                                                        .precio {
                                                            
                                                        }
                                                    }
                                                    .foto {

                                                    }
                                                    .carro{
                                                        .add_carro_btn{
                                                            .add_info{

                                                            }
                                                            .add_logo{

                                                            }
                                                        }
                                                        .add_carro_alert{

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .producto3{
                                        margin-bottom: 5px;
                                        .cont_pr{
                                            .cont_prod{
                                                .nombre{

                                                }
                                                .descripcion{
                                                    
                                                }
                                                .precio{
                                                    
                                                }
                                            }
                                        }
                                        .carro{
                                            .add_carro_btn{
                                                .add_info{

                                                }
                                                .add_logo{

                                                }
                                            }
                                            .add_carro_alert{

                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO CARTA PENDIENTE */
