$menu_left_color: #941C80;
$menu_left_linea: #941C80;

$menu_left_color_titulo: #000;
$menu_left_color_lista: #000;
$menu_left_color_lista_bottom: #ddd;
$menu_background: #fff;

body{
    .contenedor {
        .menu_left {
            border-right: 1px solid $menu_left_linea;
            background: $menu_background;
            .cont_menu_left{
                .btn_toogle{ color: $menu_left_color; }
                .menu_info{
                    h1{ color: $menu_left_color_titulo; }
                    .lista_paginas{
                        a{ color: $menu_left_color_lista; border-bottom-color: $menu_left_color_lista_bottom; }
                    }
                }
            }
        }
    }
}

$header_color: #fff;
$header_bottom: #941C80;
$header_cart_color: #941C80;
$header_cant_cart_color: #F9DDF3;
$header_cart_mensaje: #000;
$contenido_background: #e8e8e8;

$btn_prin_nombre: #000;
$btn_prin_desc: #000;
$btn_prin_precio: #000;

$cantcart_num: #000;

/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
body {
    .contenedor {
        .pagina {
            .cont_pagina {
                .header {
                    background: $header_color;
                    border-bottom-color: $header_bottom;
                    .header_logo {
                        img {}
                    }
                    .menu_right {
                        .shop { color: $header_cart_color; }
                        .cantcart {
                            background: $header_cant_cart_color;
                            .cantcart_num{ color: $cantcart_num }
                        }
                    }
                    .cart_info{ color: $header_cart_mensaje }
                }
                .footer {}
                .contenido {
                    background: $contenido_background;
                    .cont_contenido {
                        .botones_principales {
                            .cont_bp{
                                .cont_bpi{
                                    .nombre { color: $btn_prin_nombre }
                                    .descripcion { color: $btn_prin_desc }
                                    .precio { color: $btn_prin_precio }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */

$modal_global_color: #eee;
$modal_titulo_border_color: #999;
$modal_close_color: #999;
$modal_close_back: none;
$modal_acciones_border_color: #999;
$modal_acciones_background: #ddd;
$modal_subtotal_background: #ddd;
$moda_titulo_background: #f5f5f5;
/* MODALS BASE */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal {
                    background: $modal_global_color;
                    .cont_modal {
                        .titulo {
                            background: $moda_titulo_background;
                            border-bottom-color: $modal_titulo_border_color;
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close { color: $modal_close_color; background: $modal_close_back }
                        .cont_info {
                            .info_modal{}
                        }
                        .sub_total {
                            background: $modal_subtotal_background;
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            border-top-color: $modal_acciones_border_color;
                            background: $modal_acciones_background;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS BASE */



/* MODALS PASO 01 CARRO */

$modal_carro_promo_background: #f5f5f5;
$modal_carro_border_color: #ddd;
$modal_carro_restantes_background: #f5f5f5;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .process_carro {
                                    .process_carro_promo{
                                        background: $modal_carro_promo_background;
                                        .promo_info{}
                                        .promo_precio{}
                                        .promo_delete{}
                                        .promo_detalle{
                                            .promo_detalle_item{
                                                .promo_detalle_nombre{}
                                                .promo_detalle_acciones{
                                                    .accion{}
                                                }
                                            }
                                        }
                                    }
                                    .process_carro_restantes{
                                        background: $modal_carro_restantes_background;
                                        .restantes_detalle_item{
                                            border-top-color: $modal_carro_border_color;
                                            .restantes_detalle_nombre{}
                                            .restantes_detalle_acciones{
                                                .precio{}
                                                .espacio{}
                                                .pregunta{}
                                                .accion{}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}

/* MODALS PASO 01 CARRO */



/* MODALS PASO 02 CARRO */

$modal_carro_tipo_color: #ddd;
$modal_carro_tipo_alert: #900;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_opciones {
                                        .dir_op{
                                            background: $modal_carro_tipo_color;
                                            .codir{
                                                .cont_info_dir {
                                                    .title{}
                                                    .stitle{}
                                                    .alert{ color: $modal_carro_tipo_alert }
                                                }
                                            }
                                        }
                                        .rlocal{}
                                        .cdesp{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02 CARRO */



/* MODALS PASO 02A LOCALES CARRO */

$modal_local_map_color: #ddd;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op1 {
                                        .parent_locales {
                                            .dir_locales {
                                                .cont_local {
                                                    .left_acciones {
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        .accion{}
                                                        .ver_mapa{}
                                                        .ver_whats{}
                                                        .ver_tel{}
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                background: $modal_local_map_color;
                                                .dir_map{}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02A LOCALES CARRO */



/* MODALS PASO 02B LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02b {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close{}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op2 {
                                        #map_direccion{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            display: none;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02B LOCALES CARRO */



/* MODALS PASO 3 DATA */

$modal_preguntas_background: #ddd;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_03 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    .block_direccion {
                                        .item_direccion {
                                            h1{}
                                            h2{}
                                        }
                                        .item_numero {
                                            h1{}
                                            h2{}
                                        }
                                        .item_depto {
                                            h1{}
                                            input{}
                                        }
                                    }
                                    .block_nombre_telefono {
                                        .item_nombre {
                                            h1{}
                                            input{}
                                        }
                                        .item_telefono {
                                            h1{}
                                            input{}
                                        }
                                    }
                                    .block_preguntas {
                                        h1{}
                                        .preguntas {
                                            background: $modal_preguntas_background;
                                            .pregunta {
                                                .pre_nom{}
                                                .pre_input {
                                                    input{}
                                                }
                                            }
                                            textarea{}
                                        }
                                    }
                                }
                            }
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 3 DATA */



/* MODALS PASO 4 LOCALES CARRO */

$modal_final_mensaje_background: #fcc;
$modal_final_mensaje_color: #600;
$modal_final_cont_background: #ddd;
$modal_final_btn_chat_background: #999;
$modal_final_btn_chat_color: #fff;
$modal_final_chat_background: #fff;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_04 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .data_final {
                                    .pedido_mensaje{
                                        background: $modal_final_mensaje_background;
                                        color: $modal_final_mensaje_color;
                                    }
                                    .pedido_final {
                                        background: $modal_final_cont_background;
                                        .cont_pedido {
                                            .estado {
                                                h1{}
                                                h2{}
                                            }
                                            .tiempo {
                                                h1{}
                                                h2{} 
                                            }
                                        }
                                        .posicion{}
                                        .total{}
                                    }
                                    .titulo_chat{}
                                    .pedido_chat {
                                        .mensajes {
                                            background: $modal_final_chat_background;
                                            .info_mensajes{}
                                        }
                                        .entrada {
                                            input{}
                                        }
                                        .enviar {
                                            .enviar_txt {
                                                background: $modal_final_btn_chat_background;
                                                color: $modal_final_btn_chat_color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 4 LOCALES CARRO */



/* MODALS PASO PREGUNTAS */

$modal_preguntas_border_color: #ccc;
$modal_preguntas_selected_color: #ccc;

$pregunta_titulo_color: #000;
$pregunta_desc_color: #000;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pregunta_productos {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{ color: $modal_pregunta_ttl }
                                h2{ color: $modal_pregunta_sttl }
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .s_pregunta {
                                    .e_pregunta {
                                        .pregunta_titulo{ color: $pregunta_titulo_color }
                                        .titulo_v_pregunta{ color: $pregunta_desc_color }
                                        .v_pregunta{
                                            border-top-color: $modal_preguntas_border_color;
                                            border-left-color: $modal_preguntas_border_color;
                                            border-right-color: $modal_preguntas_border_color;
                                            .n_pregunta{
                                                border-bottom-color: $modal_preguntas_border_color;
                                            }
                                            .selected{
                                                background: $modal_preguntas_selected_color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PREGUNTAS */



/* MODALS PASO PROMOCION */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_productos_promo {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .pro_cat_promo {
                                    .pro_cat_item {
                                        .pro_cat_item_select {
                                            select{}
                                        }
                                        .pro_cat_item_nombre{}
                                        .pro_cat_item_descripcion{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PROMOCION */



/* MODALS PASO CARTA */

$producto_add_carro_background: #900;
$producto_add_carro_color: #fff;
$producto_add_carro_cont_background: #ddd;
$producto_cont_background: #ddd;

$producto2_background: #ccc;
$producto2_add_carro_background: #900;
$producto2_add_carro_color: #fff;
$producto2_add_carro_cont_background: #ddd;
$producto2_cont_background: #ddd;

$producto3_add_carro_background: #900;
$producto3_add_carro_color: #fff;
$producto3_add_carro_cont_background: #ddd;
$producto3_cont_background: #ddd;

$categoria_open_background: #ddd;

$lista_cat_nombre: #000;
$lista_cat_desc: #000;
$lista_cat_precio: #000;

$modal_carta_ttl: #000;
$modal_carta_sttl: #000;

$producto1_nombre: #000;
$producto1_descripcion: #000;
$producto1_precio: #000;

$producto2_nombre: #000;
$producto2_descripcion: #000;
$producto2_precio: #000;

$producto3_nombre: #000;
$producto3_descripcion: #000;
$producto3_precio: #000;

$lista_pro1_nombre: #000;
$lista_pro1_descripcion: #000;
$lista_pro1_precio: #000;

$lista_pro2_nombre: #000;
$lista_pro2_descripcion: #000;
$lista_pro2_precio: #000;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_carta {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{ color: $modal_carta_ttl }
                                h2{ color: $modal_carta_sttl }
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .lista_productos {
                                    .producto {
                                        .cont_producto{
                                            background: $producto_cont_background;
                                            .cont_info_pro{
                                                .nombre{
                                                    color: $producto1_nombre;
                                                }
                                                .descripcion{
                                                    color: $producto1_descripcion;
                                                }
                                                .precio{
                                                    color: $producto1_precio;
                                                }
                                            }
                                        }
                                        .carro{
                                            background: $producto_add_carro_cont_background;
                                            .add_carro_btn{
                                                background: $producto_add_carro_background;
                                                color: $producto_add_carro_color;
                                                .add_info{

                                                }
                                                .add_logo{

                                                }
                                            }
                                            .add_carro_alert{

                                            }
                                        }
                                    }
                                    .producto2 {
                                        table {
                                            background: $producto2_background;
                                            tr {
                                                td {
                                                    .cont_data {
                                                        .nombre {
                                                            color: $producto2_nombre;
                                                        }
                                                        .descripcion {
                                                            color: $producto2_descripcion;
                                                        }
                                                        .precio {
                                                            color: $producto2_precio;
                                                        }
                                                    }
                                                    .foto {
                                                        background: #000;
                                                    }
                                                    .carro {
                                                        background: $producto2_add_carro_cont_background;
                                                        .add_carro_btn {
                                                            background: $producto2_add_carro_background;
                                                            color: $producto2_add_carro_color;
                                                            .add_info {

                                                            }
                                                            .add_logo {

                                                            }
                                                        }
                                                        .add_carro_alert {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .producto3{
                                        .pro_fondo {
                                            .cont_pr {
                                                .cont_prod {
                                                    .nombre {
                                                        color: $producto3_nombre;
                                                    }
                                                    .descripcion {
                                                        color: $producto3_descripcion;
                                                    }
                                                    .precio {
                                                        color: $producto3_precio;
                                                    }
                                                }
                                            }
                                        }
                                        .carro {
                                            background: $producto3_add_carro_cont_background;
                                            .add_carro_btn {
                                                background: $producto3_add_carro_background;
                                                color: $producto3_add_carro_color;
                                                .add_info {

                                                }
                                                .add_logo {

                                                }
                                            }
                                            .add_carro_alert {

                                            }
                                        }
                                    }
                                }
                                .lista_categorias {
                                    .promocion {
                                        .cont_fondo {
                                            .cont_detalle_pro {
                                                .cont_detalle_pro_np {
                                                    .nombre{ color: $lista_pro1_nombre }
                                                    .precio{ color: $lista_pro1_descripcion }
                                                }
                                                .descripcion{ color: $lista_pro1_precio }
                                                .listado {
                                                    .prod_item{}
                                                }
                                            }
                                        }
                                        .cont_fondoi {
                                            .nombre{ color: $lista_pro2_nombre }
                                            .descripcion{ color: $lista_pro2_descripcion }
                                            .precio{ color: $lista_pro2_precio }
                                        }
                                    }
                                    .categoria {
                                        .cont_fondo {
                                            .cont_fondoi {
                                                .nombre{ color: $lista_cat_nombre }
                                                .descripcion{ color: $lista_cat_desc }
                                                .precio{ color: $lista_cat_precio }
                                            }
                                        }
                                    }
                                    .categoriaopen {
                                        background: $categoria_open_background;
                                        .cont_fondo {
                                            .nombre {}
                                            .descripcion{}
                                            .listado {
                                                .prod_item {
                                                    border-bottom-color: #ccc;
                                                    .prod_i_nom {
                                                        .prod_i_ttl{}
                                                        .prod_i_sttl{}
                                                    }
                                                    .prod_i_pre{}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO CARTA */



/* MODALS PAGINA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pagina {
                    .cont_modal {
                        .close{}
                        .cont_info_pagina{}
                    }
                }
            }
        }
    }
}
/* MODALS PAGINA */



/* MODALS ERROR LOCALES */

$modal_local_map_color: #ddd;
$err_local_ttl: #000;
$err_local_sttl: #000;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{ color: $err_local_ttl }
                                h2{ color: $err_local_sttl }
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op1 {
                                        .parent_locales {
                                            .dir_locales {
                                                .cont_local {
                                                    .left_acciones {
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        .accion{}
                                                        .ver_mapa{}
                                                        .ver_whats{}
                                                        .ver_tel{}
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                background: $modal_local_map_color;
                                                .dir_map{}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS ERROR LOCALES */



/* MODALS ERROR */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_error {
                    .cont_modal {
                        .close{}
                        .cont_info {
                            .cont_err {
                                .cont_ab_err {
                                    .titulo_error {

                                    }
                                    .btns_err {
                                        .btn_err {

                                        }
                                        .btn_err1 {

                                        }
                                        .btn_err2 {

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS ERROR */



/* MODALS CONTACTO */

$contacto_ttl: #000;
$contacto_sttl: #000;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_contacto {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{ color: $contacto_ttl }
                                h2{ color: $contacto_sttl }
                            }
                        }
                        .close{}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    .input_contacto {
                                        h1{}
                                        .d_input {
                                            input{}
                                        }
                                    }
                                    .input_enviar {
                                        input{}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS CONTACTO */



/* MODALS PAGINA INICIO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pagina_inicio {
                    .cont_modal {
                        .close{}
                        .cont_info_inicio {
                            .inicio_titulo{}
                            .inicio_subtitulo{}
                            .inicio_div_texto {
                                .inicio_texto{}
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PAGINA INICIO */

