$menu_left_titulo: 20px;
$menu_left_btns: 18px;


body {
    .contenedor {
        .menu_left {
            .cont_menu_left{
                .btn_toogle{}
                .menu_info{
                    h1{ font-size: $menu_left_titulo; }
                    ul{
                        li{ font-size: $menu_left_btns; }
                    }
                }
            }
        }
    }
}

$header_cant_cart: 14px;
$header_cart_mensaje: 12px;

/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
body {
    .contenedor {
        .pagina {
            .cont_pagina {
                .header {
                    .header_logo {
                        img {}
                    }
                    .menu_right {
                        .shop {}
                        .cantcart {
                            .cantcart_num{ font-size: $header_cant_cart; }
                        }
                    }
                    .cart_info{ font-size: $header_cart_mensaje }
                }
                .footer {}
                .contenido {
                    .cont_contenido {
                        .botones_principales {
                            .cont_bp{
                                .cont_bpi{
                                    .nombre {}
                                    .descripcion {}
                                    .precio {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */

$modal_global_titulo: 20px;
$modal_global_subtitulo: 20px;
$modal_subtotal: 20px;
$modal_costo: 20px;
$modal_total: 20px;
$modal_confirmar: 16px;

/* MODALS BASE */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{ font-size: $modal_global_titulo }
                                h2{ font-size: $modal_global_subtitulo }
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {}
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{ font-size: $modal_subtotal }
                                    .paso_03_costo{ font-size: $modal_costo }
                                    .paso_03_total{ font-size: $modal_total }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{ font-size: $modal_confirmar }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS BASE */


/* MODALS PASO 01 CARRO */

$modal_carro_promo_titulo: 22px;
$modal_carro_promo_precio: 22px;
$modal_carro_promo_nombre: 16px;
$modal_carro_restantes_nombre: 18px;
$modal_carro_restantes_precio: 18px;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .process_carro {
                                    .process_carro_promo{
                                        .promo_info{
                                            font-size: $modal_carro_promo_titulo;
                                        }
                                        .promo_precio{
                                            font-size: $modal_carro_promo_precio;
                                        }
                                        .promo_delete{}
                                        .promo_detalle{
                                            .promo_detalle_item{
                                                .promo_detalle_nombre{
                                                    font-size: $modal_carro_promo_nombre;
                                                }
                                                .promo_detalle_acciones{
                                                    .accion{}
                                                }
                                            }
                                        }
                                    }
                                    .process_carro_restantes{
                                        .restantes_detalle_item{
                                            .restantes_detalle_nombre{
                                                font-size: $modal_carro_restantes_nombre;
                                            }
                                            .restantes_detalle_acciones{
                                                .precio{ font-size: $modal_carro_restantes_precio; }
                                                .espacio{}
                                                .pregunta{}
                                                .accion{}
                                            }
                                        }
                                    }
                                }
                            }
                            .padding_01 {}
                            .padding_02 {}
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}

/* MODALS PASO 01 CARRO */



/* MODALS PASO 02 CARRO */

$modal_dir_titulo: 20px;
$modal_dir_subtitulo: 18px;
$modal_dir_alert: 16px;

body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_opciones {
                                        .dir_op {
                                            .codir {
                                                .cont_info_dir{
                                                    .title { font-size: $modal_dir_titulo; }
                                                    .stitle { font-size: $modal_dir_subtitulo; }
                                                    .alert { font-size: $modal_dir_alert; }
                                                }
                                            }
                                        }
                                        .rlocal{}
                                        .cdesp{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02 CARRO */



/* MODALS PASO 02A LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op1 {
                                        .parent_locales {
                                            .dir_locales {
                                                .cont_local {
                                                    .left_acciones {
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        .accion{}
                                                        .ver_mapa{}
                                                        .ver_whats{}
                                                        .ver_tel{}
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                .dir_map{}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02A LOCALES CARRO */



/* MODALS PASO 02B LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02b {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close{}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op2 {
                                        #map_direccion{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            display: none;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02B LOCALES CARRO */



/* MODALS PASO 3 DATA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_03 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    .block_direccion {
                                        .item_direccion {
                                            h1{}
                                            h2{}
                                        }
                                        .item_numero {
                                            h1{}
                                            h2{}
                                        }
                                        .item_depto {
                                            h1{}
                                            input{}
                                        }
                                    }
                                    .block_nombre_telefono {
                                        .item_nombre {
                                            h1{}
                                            input{}
                                        }
                                        .item_telefono {
                                            h1{}
                                            input{}
                                        }
                                    }
                                    .block_preguntas {
                                        h1{}
                                        .preguntas {
                                            .pregunta {
                                                .pre_nom{}
                                                .pre_input {
                                                    input{}
                                                }
                                            }
                                            textarea{}
                                        }
                                    }
                                }
                            }
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 3 DATA */



/* MODALS PASO 4 LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_04 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .data_final {
                                    .pedido_mensaje{}
                                    .pedido_final {
                                        .cont_pedido {
                                            .estado {
                                                h1{}
                                                h2{}
                                            }
                                            .tiempo {
                                                h1{}
                                                h2{} 
                                            }
                                        }
                                        .posicion{}
                                        .total{}
                                    }
                                    .titulo_chat{}
                                    .pedido_chat {
                                        .mensajes {
                                            .info_mensajes{}
                                        }
                                        .entrada {
                                            input{}
                                        }
                                        .enviar {
                                            .enviar_txt{}
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 4 LOCALES CARRO */



/* MODALS PASO PREGUNTAS */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pregunta_productos {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .s_pregunta {
                                    .e_pregunta {
                                        .pregunta_titulo{}
                                        .titulo_v_pregunta{}
                                        .v_pregunta{
                                            .n_pregunta{}
                                            .selected{}
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PREGUNTAS */



/* MODALS PASO PROMOCION */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_productos_promo {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .pro_cat_promo {
                                    .pro_cat_item {
                                        .pro_cat_item_select {
                                            select{}
                                        }
                                        .pro_cat_item_nombre{}
                                        .pro_cat_item_descripcion{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PROMOCION */



/* MODALS PASO CARTA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_carta {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .lista_productos {
                                    .producto {
                                        .cont_producto{
                                            .cont_info_pro{
                                                .nombre{

                                                }
                                                .descripcion{

                                                }
                                                .precio{
                                                    
                                                }
                                            }
                                        }
                                        .carro{
                                            .add_carro_btn{
                                                .add_info{

                                                }
                                                .add_logo{

                                                }
                                            }
                                            .add_carro_alert{

                                            }
                                        }
                                    }
                                    .producto2 {
                                        table {
                                            tr {
                                                td {
                                                    .cont_data {
                                                        .nombre {

                                                        }
                                                        .descripcion {
                                                            
                                                        }
                                                        .precio {
                                                            
                                                        }
                                                    }
                                                    .foto {

                                                    }
                                                    .carro{
                                                        .add_carro_btn{
                                                            .add_info{

                                                            }
                                                            .add_logo{

                                                            }
                                                        }
                                                        .add_carro_alert {

                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .producto3{
                                        .pro_fondo {
                                            .cont_pr {
                                                .cont_prod {
                                                    .nombre {

                                                    }
                                                    .descripcion {
                                                        
                                                    }
                                                    .precio {
                                                        
                                                    }
                                                }
                                            }
                                        }
                                        .carro{
                                            .add_carro_btn {
                                                .add_info {

                                                }
                                                .add_logo {

                                                }
                                            }
                                            .add_carro_alert {

                                            }
                                        }
                                    }
                                }
                                .lista_categorias {
                                    .promocion {
                                        .cont_fondo {
                                            .cont_detalle_pro {
                                                .cont_detalle_pro_np {
                                                    .nombre{}
                                                    .precio{}
                                                }
                                                .descripcion{}
                                                .listado {
                                                    .prod_item{}
                                                }
                                            }
                                        }
                                        .cont_fondoi {
                                            .nombre{}
                                            .descripcion{}
                                            .precio{}
                                        }
                                    }
                                    .categoria {
                                        .cont_fondo {
                                            .cont_fondoi {
                                                .nombre{}
                                                .descripcion{}
                                                .precio{}
                                            }
                                        }
                                    }
                                    .categoriaopen {
                                        .cont_fondo {
                                            .nombre {}
                                            .descripcion{}
                                            .listado {
                                                .prod_item {
                                                    .prod_i_nom {
                                                        .prod_i_ttl{}
                                                        .prod_i_sttl{}
                                                    }
                                                    .prod_i_pre{}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO CARTA PENDIENTE */



/* MODALS PAGINA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pagina {
                    .cont_modal {
                        .close{}
                        .cont_info{}
                    }
                }
            }
        }
    }
}
/* MODALS PAGINA */



/* MODALS ERROR LOCALES */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op1 {
                                        .parent_locales {
                                            .dir_locales {
                                                .cont_local {
                                                    .left_acciones {
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        .accion{}
                                                        .ver_mapa{}
                                                        .ver_whats{}
                                                        .ver_tel{}
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                .dir_map{}
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS ERROR LOCALES */



/* MODALS ERROR */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_error {
                    .cont_modal {
                        .close{}
                        .cont_info {
                            .cont_err {
                                .cont_ab_err {
                                    .titulo_error {

                                    }
                                    .btns_err {
                                        .btn_err {

                                        }
                                        .btn_err1 {

                                        }
                                        .btn_err2 {

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS ERROR */



/* MODALS CONTACTO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_contacto {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close{}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    .input_contacto {
                                        h1{}
                                        .d_input {
                                            input{}
                                        }
                                    }
                                    .input_enviar {
                                        input{}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS CONTACTO */



/* MODALS PAGINA INICIO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pagina_inicio {
                    .cont_modal {
                        .close{}
                        .cont_info_inicio {
                            .inicio_titulo{}
                            .inicio_subtitulo{}
                            .inicio_texto{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PAGINA INICIO */