html {
    height: 100%;
    body {
        margin: 0px;
        padding: 0px;
        height: 100%;
        .contenedor {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}

/* MENU LEFT */
body {
    .contenedor {
        .menu_left {
            width: 219px;
            height: 100%;
            top: 0px;
            left: -220px;
            position: fixed;
            z-index: 2;
            .cont_menu_left{
                width: 100%;
                height: 100%;
                position: relative;
                .btn_toogle{
                    width: 40px;
                    height: 40px;
                    right: -50px;
                    font-size: 40px;
                    position: absolute;
                }
                .menu_info{
                    display: block;
                    h1{}
                    .lista_paginas{
                        a{ display: block; text-decoration: none; }
                    }
                }
            }
        }
    }
}
/* MENU LEFT */



/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */
body {
    .contenedor {
        .pagina {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1;
            .cont_pagina {
                position: relative;
                width: 100%;
                height: 100%;
                .header {
                    width: 100%;
                    top: 0px;
                    left: 0px;
                    z-index: 2;
                    .header_logo {
                        img {
                            max-width: 100%;
                        }
                    }
                    .menu_right {
                        position: absolute;
                        z-index: 2;
                        .shop {}
                        .cantcart {
                            position: absolute;
                            .cantcart_num{}
                        }
                    }
                    .cart_info{
                        position: absolute;
                        z-index: 2;
                    }
                }
                .footer {
                    width: 100%;
                    bottom: 0px;
                    left: 0px;
                    z-index: 2;
                }
                .fixed {
                    position: fixed;
                }
                .absolute {
                    position: absolute;
                }
                .contenido {
                    width: 100%;
                    z-index: 1;
                    .cont_contenido {
                        margin: 0 auto;
                        display: block;
                        .botones_principales {
                            display: block;
                            .cont_bp{
                                position: relative;
                                width: 100%;
                                height: 100%;
                                .cont_bpi{
                                    .nombre {}
                                    .descripcion {}
                                    .precio {}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* PAGINA PRINCIPAL HEADER-CATEGORIAS-FOOTER */



/* MODALS BASE */
body {
    .contenedor {
        .modals{
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 3;
            display: none;
            .cont_modals {
                width: 100%;
                height: 100%;
                position: relative;
                .modal {
                    position: absolute;
                    .cont_modal {
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .titulo {
                            position: absolute;
                            z-index: 2;
                            width: 100%;
                            top: 0px;
                            left: 0px;
                            .cont_titulo{
                                width: 100%;
                                text-align: center;
                                h1{}
                                h2{}
                            }
                        }
                        .close {
                            position: absolute;
                            z-index: 3;
                        }
                        .cont_info {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            overflow-y: auto;
                            z-index: 1;
                            .info_modal {}
                            .padding_01 {}
                            .padding_02 {}
                        }
                        .sub_total {
                            position: absolute;
                            z-index: 2;
                            left: 0px;
                            .cont_subtotal {
                                width: 100%;
                                height: 100%;
                                position: relative;
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            width: 100%;
                            position: absolute;
                            z-index: 2;
                            left: 0px;
                            bottom: 0px;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS BASE */



/* MODALS PASO 01 CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_01 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .process_carro {
                                    .process_carro_promo{
                                        .promo_info{}
                                        .promo_precio{}
                                        .promo_delete{}
                                        .promo_detalle{
                                            .promo_detalle_item{
                                                .promo_detalle_nombre{
                                                    float: left;
                                                }
                                                .promo_detalle_acciones{
                                                    float: left;
                                                    .accion{}
                                                }
                                            }
                                        }
                                    }
                                    .process_carro_restantes{
                                        .restantes_detalle_item{
                                            .restantes_detalle_nombre{
                                                float: left;
                                            }
                                            .restantes_detalle_acciones{
                                                float: left;
                                                .precio{ float: left; }
                                                .espacio{ float: left; }
                                                .pregunta{ float: left; }
                                                .accion{ float: left; }
                                            }
                                        }
                                    }
                                }
                            }
                            .padding_01 {}
                            .padding_02 {}
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 01 CARRO */



/* MODALS PASO 02 CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_opciones{
                                        .dir_op{
                                            .codir{
                                                width: 100%;
                                                height: 100%;
                                                position: relative;
                                                .cont_info_dir{
                                                    .title{}
                                                    .stitle{}
                                                    .alert{}
                                                }
                                            }
                                        }
                                        .rlocal{}
                                        .cdesp{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02 CARRO */



/* MODALS PASO 02A  CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo{
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_opciones {
                                        .dir_op {
                                            .codir {
                                                width: 100%;
                                                height: 100%;
                                                position: relative;
                                                .cont_info_dir {
                                                    .title{}
                                                    .stitle{}
                                                    .alert{}
                                                }
                                            }
                                        }
                                        .rlocal{}
                                        .cdesp{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02 CARRO */



/* MODALS PASO 02A LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op1 {
                                        .parent_locales {
                                            .dir_locales {
                                                .cont_local {
                                                    width: 100%;
                                                    height: 100%;
                                                    position: relative;
                                                    .left_acciones {
                                                        position: absolute;
                                                        height: 100%;
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        height: 100%;
                                                        .accion{ 
                                                            display: block;
                                                        }
                                                        .ver_mapa{}
                                                        .ver_whats{}
                                                        .ver_tel{}
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                .dir_map{ width: 100%; }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02A LOCALES CARRO */



/* MODALS PASO 02B LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02b {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close{}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op2 {
                                        #map_direccion{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            display: none;
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 02B LOCALES CARRO */



/* MODALS PASO 3 DATA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_03 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    .block_direccion {
                                        .item_direccion {
                                            float: left;
                                            h1{}
                                            h2{}
                                        }
                                        .item_numero {
                                            float: left;
                                            h1{}
                                            h2{}
                                        }
                                        .item_depto {
                                            float: left;
                                            h1{}
                                            input{}
                                        }
                                    }
                                    .block_nombre_telefono {
                                        .item_nombre {
                                            float: left;
                                            h1{}
                                            input{}
                                        }
                                        .item_telefono {
                                            float: left;
                                            h1{}
                                            input{}
                                        }
                                    }
                                    .block_preguntas {
                                        h1{}
                                        .preguntas {
                                            .pregunta {
                                                .pre_nom{ float: left  }
                                                .pre_input {
                                                    float: left;
                                                    input{}
                                                }
                                            }
                                            textarea{}
                                        }
                                    }
                                }
                            }
                        }
                        .sub_total {
                            .cont_subtotal {
                                .total_detalle{
                                    .paso_01_sub_total{}
                                    .paso_03_costo{}
                                    .paso_03_total{}
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 3 DATA */



/* MODALS PASO 4 LOCALES CARRO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_04 {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .data_final {
                                    .pedido_mensaje{}
                                    .pedido_final {
                                        .cont_pedido {
                                            .estado {
                                                float: left;
                                                h1{}
                                                h2{}
                                            }
                                            .tiempo {
                                                float: left;
                                                h1{}
                                                h2{} 
                                            }
                                        }
                                        .posicion{}
                                        .total{}
                                    }
                                    .titulo_chat{}
                                    .pedido_chat {
                                        position: relative;
                                        .mensajes {
                                            position: absolute;
                                            .info_mensajes{}
                                        }
                                        .entrada {
                                            position: absolute;
                                            input{}
                                        }
                                        .enviar {
                                            position: absolute;
                                            .enviar_txt{}
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO 4 LOCALES CARRO */



/* MODALS PASO PREGUNTAS */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pregunta_productos {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .s_pregunta {
                                    .e_pregunta {
                                        .pregunta_titulo{}
                                        .titulo_v_pregunta{}
                                        .v_pregunta{
                                            .n_pregunta{}
                                            .selected{}
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PREGUNTAS */



/* MODALS PASO PROMOCION */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_productos_promo {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .pro_cat_promo {
                                    .pro_cat_item {
                                        position: relative;
                                        .pro_cat_item_select {
                                            select{}
                                        }
                                        .pro_cat_item_nombre{}
                                        .pro_cat_item_descripcion{}
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO PROMOCION */



/* MODALS PASO CARTA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_carta {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .lista_productos {
                                    .producto {
                                        .cont_producto{
                                            position: relative;
                                            .cont_info_pro{
                                                .nombre{

                                                }
                                                .descripcion{

                                                }
                                                .precio{
                                                    
                                                }
                                            }
                                        }
                                        .carro{
                                            .add_carro_btn{
                                                float: left;
                                                position: relative;
                                                .add_info{

                                                }
                                                .add_logo{

                                                }
                                            }
                                            .add_carro_alert{
                                                float: left;
                                            }
                                        }
                                    }
                                    .producto2 {
                                        table {
                                            tr {
                                                td {
                                                    .cont_data {
                                                        .nombre {

                                                        }
                                                        .descripcion {
                                                            
                                                        }
                                                        .precio {
                                                            
                                                        }
                                                    }
                                                    .foto {

                                                    }
                                                    .carro {
                                                        .add_carro_btn {
                                                            float: left;
                                                            position: relative;
                                                            .add_info {

                                                            }
                                                            .add_logo {

                                                            }
                                                        }
                                                        .add_carro_alert {
                                                            float: left;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .producto3{
                                        .pro_fondo {
                                            .cont_pr {
                                                position: relative;
                                                .cont_prod {
                                                    .nombre {

                                                    }
                                                    .descripcion {
                                                        
                                                    }
                                                    .precio {
                                                        
                                                    }
                                                }
                                            }
                                        }
                                        .carro {
                                            .add_carro_btn {
                                                float: left;
                                                position: relative;
                                                .add_info {

                                                }
                                                .add_logo {

                                                }
                                            }
                                            .add_carro_alert {
                                                float: left;
                                            }
                                        }
                                    }
                                }
                                .lista_categorias {
                                    .promocion {
                                        .cont_fondo {
                                            position: relative;
                                            .cont_detalle_pro {
                                                .cont_detalle_pro_np {
                                                    .nombre {
                                                        float: left;
                                                    }
                                                    .precio {
                                                        float: left;
                                                    }
                                                }
                                                .descripcion{}
                                                .listado {
                                                    .prod_item{}
                                                }
                                            }
                                        }
                                        .cont_fondoi {
                                            .nombre{}
                                            .descripcion{}
                                            .precio{}
                                        }
                                    }
                                    .categoria {
                                        display: block;
                                        .cont_fondo {
                                            position: relative;
                                            .cont_fondoi {
                                                .nombre{}
                                                .descripcion{}
                                                .precio{}
                                            }
                                        }
                                    }
                                    .categoriaopen {
                                        position: relative;
                                        .cont_fondo {
                                            .nombre {}
                                            .descripcion{}
                                            .listado {
                                                .prod_item {
                                                    position: relative;
                                                    .prod_i_nom {
                                                        .prod_i_ttl{}
                                                        .prod_i_sttl{}
                                                    }
                                                    .prod_i_pre{}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PASO CARTA */



/* MODALS PAGINA */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pagina {
                    .cont_modal {
                        .close{}
                        .cont_info_pagina{}
                    }
                }
            }
        }
    }
}
/* MODALS PAGINA */



/* MODALS ERROR LOCALES */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .paso_02a {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close {}
                        .cont_info {
                            .info_modal {
                                .cont_direccion {
                                    .direccion_op1 {
                                        .parent_locales {
                                            .dir_locales {
                                                .cont_local {
                                                    width: 100%;
                                                    height: 100%;
                                                    position: relative;
                                                    .left_acciones {
                                                        position: absolute;
                                                        height: 100%;
                                                        .local_info {
                                                            .title{}
                                                            .stitle{}
                                                            .alert{}
                                                        }
                                                    }
                                                    .accioness {
                                                        height: 100%;
                                                        .accion{ 
                                                            display: block;
                                                        }
                                                        .ver_mapa{}
                                                        .ver_whats{}
                                                        .ver_tel{}
                                                    }
                                                }
                                            }
                                            .cont_map {
                                                .dir_map{ width: 100%; }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .acciones {
                            .confirmar{}
                        }
                    }
                }
            }
        }
    }
}
/* MODALS ERROR LOCALES */



/* MODALS ERROR */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_error {
                    .cont_modal {
                        .close{}
                        .cont_info {
                            .cont_err {
                                .cont_ab_err {
                                    .titulo_error {

                                    }
                                    .btns_err {
                                        .btn_err {

                                        }
                                        .btn_err1 {

                                        }
                                        .btn_err2 {

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS ERROR */



/* MODALS CONTACTO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_contacto {
                    .cont_modal {
                        .titulo {
                            .cont_titulo {
                                h1{}
                                h2{}
                            }
                        }
                        .close{}
                        .cont_info {
                            .info_modal {
                                .cont_final {
                                    .input_contacto {
                                        h1{}
                                        .d_input {
                                            input{}
                                        }
                                    }
                                    .input_enviar {
                                        input{}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS CONTACTO */



/* MODALS PAGINA INICIO */
body {
    .contenedor {
        .modals{
            .cont_modals {
                .modal_pagina_inicio {
                    .cont_modal {
                        .close{}
                        .cont_info_inicio {
                            .inicio_titulo{}
                            .inicio_subtitulo{}
                            .inicio_div_texto {
                                .inicio_texto{}
                            }
                        }
                    }
                }
            }
        }
    }
}
/* MODALS PAGINA INICIO */

.prin_alpha_1 {
    background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}
.prin_alpha_2 {
    background: linear-gradient(90deg, gray 0%, rgba(128, 128, 128, 0) 100%);
}
.prin_alpha_3 {
    background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);
}
.prin_alpha_4 {
    background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0.5) 100%);
}




// FINAL RESET //
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{
	margin:0;
	padding:0;
	outline:none;
}
table{
    width: 100%;
    height: 100%;
}
fieldset, img, abbr, acronym{
	border: 0px;
}
address,caption,cite,code,dfn,th,var{
	font-style: normal;
	font-weight: normal;
}
ol,ul,dl{
	list-style: none;
}
caption,th{
	text-align: left;
}
h1,h2,h3,h4,h5,h6{
	font-size: 1em;
	font-size: 100%;
	font-weight: normal;
}
a{
	outline:none;
}
/*PROPIEDADES*******************************/
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix{
	display: inline-block;
}
/*\*/* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}/**/
.hide {
    display: none;
}
::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}
::-webkit-scrollbar-track-piece {
    background: #eee;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
.flotar_izq{
	float:left;
	display:inline;
}
.flotar_der{
	float:right;
	display:inline;
}
.vhalign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.valign{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.halign{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}